<div class="container">
  <div class="card m-2" *ngFor="let quote of quotes; let i = index">
    <div class="card-header text-end">
      Submitted by: {{ quote.submittedBy }}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h4
          appMostLiked
          [ngClass]="{ highlight: quote.isMostLiked }"
        >
          <p>
            {{ quote.quoteMessage }}
          </p>
          <footer class="blockquote-footer">
            <cite> Author ~ {{ quote.quoteAuthor }} </cite>
          </footer>
        </h4>
      </blockquote>
      <div>
        <app-buttons
          [quote]="quote"
          (isUpVote)="upVote($event, i)"
          (isDownVote)="downVote($event, i)"
          (isComplete)="deleteQuote($event, i)"
        >
        </app-buttons>
      </div>
      <!-- <div *nglf="quote.buttons">
        [quote]="quote" (isComplete)="deleteQuote($event, i)"
        (isUpVote)="upVote($event,i)" (isDownVote)="downVote($event, i)"
      </div>-->
    </div>
  </div>
</div>
