<p>
  Posted on {{ quote.completeDate | date }}
  <span>Time passed {{ quote.completeDate | dateCount }}</span>
</p>
<div class="container">
  <button
    (click)="upVote(true)"
    id="upvote"
    class="btn btn-outline-success btn-sm"
    style="margin-right: 1%"
  >
    {{ quote.upVote }} Upvotes
  </button>
  <button
    (click)="downVote(true)"
    id="dvote"
    class="btn btn-outline-info btn-sm"
  >
    {{ quote.downVote }} Downvotes
  </button>
</div>
<div class="container">
  <button (click)="quoteDelete(true)" class="btn btn-danger btn-sm">
    Delete Quote
  </button>
</div>
